exported_workflows/Alert_Flow.json
{
  "name": "Alert Flow",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_alerts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "notified",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -660,
        100
      ],
      "id": "690a7042-fb25-4d71-9dff-c7d0c78b1eb7",
      "name": "Supabase",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "LwxPV5alORGpQrPP",
          "name": "Supabase account"
        }
      },
      "notes": "fetching non-notified users"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "fullText",
              "searchFunction": "plfts",
              "keyValue": "={{ $json.product_name }}"
            },
            {
              "keyName": "price",
              "condition": "lte",
              "keyValue": "={{ $json.price_max }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -220,
        80
      ],
      "id": "d3f93ac7-9ba3-4ebc-876c-6c93513d0b4c",
      "name": "Supabase1",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "LwxPV5alORGpQrPP",
          "name": "Supabase account"
        }
      },
      "notes": "Checking if phone is available"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "52b53e4e-6344-4a9a-8f63-ed616c285eed",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        80
      ],
      "id": "26a9a6a9-ffcb-4ca1-aabe-46931d2b76df",
      "name": "If",
      "notesInFlow": true,
      "notes": "Was phone found ?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Supabase').item.json.email }}",
        "subject": "=Hi  {{ $('Supabase').item.json.name }}, ",
        "message": "=Hey there,\n\nWe’ve got great news! The smartphone you’ve been eagerly waiting for is finally back in stock! 🎉✨\n\nDon’t miss out—check out all the details and grab yours before it sells out again. Simply click the link below to make your purchase:\n\n👉({{ $json.product_link }})\n\nThanks for your patience, and happy shopping! We can’t wait for you to get your hands on it! 📱",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "c476ad12-2d82-4c8f-b9a2-ca16503fd07c",
      "name": "Gmail",
      "webhookId": "3897923f-83b8-40d9-8df4-96e67f51dd27",
      "credentials": {
        "gmailOAuth2": {
          "id": "5nH6tP6DsAPFDpYe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n\"dummy\": null\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        100
      ],
      "id": "7cce8ef3-b6d6-463e-9864-d212a450127b",
      "name": "When Executed by Another Workflow",
      "notesInFlow": true,
      "notes": "Waiting for the main flow"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "product_alerts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notified",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "0beda90c-2139-4fcb-a422-3916562fce97",
      "name": "Supabase2",
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "LwxPV5alORGpQrPP",
          "name": "Supabase account"
        }
      },
      "notes": "Setting notified to TRUE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f97b876f-388b-4c9f-a505-2cba67694d77",
              "leftValue": "={{ $json.price_max }}",
              "rightValue": null,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -440,
        100
      ],
      "id": "3e4d32b3-8903-4c96-becb-4ed80bf2b136",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "fullText",
              "searchFunction": "plfts",
              "keyValue": "={{ $json.product_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -220,
        260
      ],
      "id": "84fe1ca7-18a4-4733-a6bf-7c8e98398c28",
      "name": "Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "LwxPV5alORGpQrPP",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Supabase": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d87388ed-dbc2-483c-bc8f-b1fd90a67cd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "510677ebfc99801f30925fa5bfc4a201572cc3b5ceb2a341d6c2821c847beca1"
  },
  "id": "GPgKTxfE3Kh5Fvo0",
  "tags": []
}