exported_workflows/Scraping_Querying.json
{
  "name": "Scraping/Querying",
  "nodes": [
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json?cat_id=0&device=desktop&engine=walmart&page=1&query=smartphones",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.serpapi_pagination.next_link }}",
              "limitPagesFetched": true,
              "maxRequests": 11
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        0
      ],
      "id": "69b253c8-332d-42f5-9be4-cfb64b7f39b8",
      "name": "HTTP Request",
      "credentials": {
        "serpApi": {
          "id": "xZ7tFg3S9IE33Ip9",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5b63696b-4b96-43e3-8ef0-e7ddf1aabc95",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "tableId": "products",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $json.price }}"
            },
            {
              "fieldId": "out_of_stock",
              "fieldValue": "={{ $json.outOfStock.toBoolean() }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.rating }}"
            },
            {
              "fieldId": "product_type",
              "fieldValue": "={{ $json.product_brand.toLowerCase() }}"
            },
            {
              "fieldId": "product_link",
              "fieldValue": "={{ $json.product_link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1160,
        0
      ],
      "id": "2e057d9b-2132-4a83-88c2-05bfcd0f4b63",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "LwxPV5alORGpQrPP",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const products = $input.first().json.organic_results;\n\nconst brands = [\n  \"Iphone\", \"Samsung\", \"Motorola\", \"Google\", \"OnePlus\", \"TCL\",\n  \"Nokia\", \"AT&T\", \"Cricket Wireless\", \"Boost Mobile\", \"TracFone\",\n  \"Alcatel\", \"Blu\", \"LG\"\n];\n\nfunction removeProblematicCharacters(str) {\n  return str\n    .replace(/[\\[\\]]/g, ' ')\n    .replace(/[^\\w\\s-]/g, '')\n    .replace(/ATampT/g, 'AT&T');\n}\n\nconst result = products.map(product => {\n  const title = product.title || '';\n  return {\n    json: {\n      name: removeProblematicCharacters(title) || '',\n      product_link: product.product_page_url || '',\n      product_brand: brands.find(brand =>\n        title.toLowerCase().includes(brand.toLowerCase())\n      ) || '',\n      price: product.primary_offer?.offer_price || 0,\n      rating: product.rating || 0,\n      outOfStock: product.out_of_stock.toString() || '',\n    }\n  };\n});\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "id": "cda1f342-8db8-48fe-b87c-de1f5bdd6937",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GPgKTxfE3Kh5Fvo0",
          "mode": "list",
          "cachedResultName": "Alert Flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dummy": "start"
          },
          "matchingColumns": [
            "dummy"
          ],
          "schema": [
            {
              "id": "dummy",
              "displayName": "dummy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1420,
        0
      ],
      "id": "579711eb-48e4-4b0e-bced-a9ff309c3170",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f236da09-ac4f-4e8b-9dd0-5b216b2a7ee6",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9521f6e2-5515-4562-8057-0ed5cf72120b",
              "leftValue": "={{ $json.price }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "eea8cc9a-c078-40c0-9b8c-ad70a2ddfa62",
              "leftValue": "={{ $json.product_link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "4028bc25-a01c-47e2-9511-c1af424efe09",
              "leftValue": "={{ $json.rating }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "7fa81026-79f9-4a33-babd-67848329cc46",
              "leftValue": "={{ $json.outOfStock }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "34e3500c-49b3-410c-b0a2-ff4ff0940044",
              "leftValue": "={{ $json.product_brand }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        860,
        0
      ],
      "id": "0aa2fe2a-c3fb-4265-b7d1-e9126cb1c5e0",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d70f650e-5512-4a8f-bad5-c33042a44901",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "510677ebfc99801f30925fa5bfc4a201572cc3b5ceb2a341d6c2821c847beca1"
  },
  "id": "mwjk1iA2kurteBJd",
  "tags": []
}